.game-border {
  width: calc(100vh * 14.3 / 8);
  margin: auto;
  border-image: url("/assets/images/game-border.png") 30 fill / 0 / 20px stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  max-width: 1965px !important;
  max-height: 1120px !important;
}

.game-border::before {
  content: "";
  display: block;
  padding-top: 52.50%;
}

.game-border > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.game-container {
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.loader-container {
  width: 100%;
  height: 25px;
  background-color: lightgray;
}

.loader {
  height: 100%;
  background-color: green;
  transition: width 1s;
}

.loader-content {
  width: 60%;
  text-align: center;
}

.side-bar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  width: 16.5%;
  /*padding: 1.5% 0 1.5% 2%;*/
}

.game-page {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 83.5%;
}


.header-side-bar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 6%;
  gap: 5%;
  min-height: 46px;
  padding: 22% 6% 19% 14%;
}

.header-side-bar i {
  border-image: url("/assets/images/game-user-icon.png") 8 fill / 0 / 0 stretch;
  width: 20%;
  aspect-ratio: 1;
  min-width: 35px;
}

.header-side-bar h1 {
  font-size: min(1.4vw, 30px);
  display: inline-flex;
  gap: 5px;
  align-items: center;
}

.moves-history {
  display: flex;
  flex-grow: 1;
  overflow: auto;
  gap: 2%;
  padding: 0 0 0 13%;
  flex-direction: column;
  align-items: center;
  max-height: 65%;
}

.moves-history button {
  margin-top: 6px;
  background: transparent;
  border: none;
  border-radius: 5px;
  border-image: url(/assets/images/game-returnback-button.png) 24 fill / 13px / 5px stretch;
  font-size: min(1.3vw, 27px);
  padding: 11px 1.3vw 11px 1.3vw;
  font-family: 'Gochi Hand', sans-serif;
  cursor: pointer;
  filter: drop-shadow(0 0 0.25rem black);
}

.moves-history button:hover {
  opacity: .8;
}

.giveup-button {
  padding: 2.6% 2% 13% 11%;
  height: 11%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.giveup-button p {
  font-size: min(1.1vw, 22px);
  margin: 0 0 0 6%;
}

.giveup-button button {
  font-size: min(1.3vw, 27px);
  padding: 2% 17% 2% 17%;
  background: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border-image: url(/assets/images/game-giveup-button.png) 12 fill / 1px / 8px stretch;
  font-family: 'Gochi Hand', sans-serif;
  filter: drop-shadow(0 0 0.25rem black);
}

.giveup-button button:hover {
  opacity: .9;
}

.header-game {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  /*padding: 2.3% 2.3% 1.1% 0;*/
}

.page-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 3% 0 1% 0;
}

.page-name h1 {
  font-size: min(1.7vw, 33px);
  text-transform: capitalize;
  margin: 0;
}

.timer {
  padding: 3% 3% 0.9% 0;
  width: 135px;
}

.timer p {
  font-size: min(1.2vw, 25px);
  margin: 0;
  white-space: nowrap;
  padding: 0 0;
  font-weight: 700;
}

.game-property {
  padding: 1% 3% 1% 1%;
  height: 82%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.property-card-container {
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  height: 100%;
  align-content: flex-start;
}

.property-card {
  background: lightgray;
  border-radius: 25px;
  padding: 5px 30px;
  height: fit-content;
}

.property-card h2 {
  font-size: min(1.5vw, 31px);
  text-align: center;
}

.property-card p {
  cursor: pointer;
}

.property-card p::first-letter, .property-card h2::first-letter {
  text-transform: uppercase;
}

.move {
  padding: 8px 1px 0 5px;
  margin: 8px;
  border: 1px solid transparent;
  border-image: url(/assets/images/game-step-card.png) 13 fill / 11 / 20 stretch;
  filter: drop-shadow(0 0 0.25rem black);
}

.move.backstep {
  filter: invert(1) drop-shadow(0 0 0.25rem black);
}

.move-container {
  width: 95%;
}

.moves-history::-webkit-scrollbar, .property-card-container::-webkit-scrollbar {
  width: 5px;
}

.moves-history::-webkit-scrollbar-track, .property-card-container::-webkit-scrollbar-track {
  background: transparent;
}

.moves-history::-webkit-scrollbar-thumb, .property-card-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

@media (max-aspect-ratio: 16/9) {
  .game-border {
    aspect-ratio: 16/9;
    width: 100vw;
  }
}
