.loader-container{
  width: 100%;
  height: 25px;
  background-color: lightgray;
}

.loader{
  height: 100%;
  background-color: green;
  transition: width 1s;
}

.loader-content{
  width: 60%;
  text-align: center;
}

.game-container{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: inline-flex;
  border-image: url("/assets/images/game-border.png") 30 fill / 0 / 20px stretch;
}

.side-bar{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  width: 18vw;
  max-width: 18vw;
  min-width: 18vw;
}

.game-page{
  flex-grow : 1;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}


.header-side-bar{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  gap: 1vw;
  padding: 69px 2.1vw 55px 2.5vw;
}

.header-side-bar i {
  border-image: url("/assets/images/game-user-icon.png") 8 fill / 0 / 0 stretch;
  width: 2vw;
  height: 2vw;
}

.header-side-bar h1{
  font-size: 1.4vw;
  display: inline-flex;
  gap: 5px;
  align-items: center;
}

.moves-history{
  display: flex;
  flex-grow: 1;
  overflow: auto;
  gap: 2px;
  padding: 0 2vw 0 2.2vw;
  flex-direction: column;
  align-items: center;
}

.moves-history button{
  margin-top: 6px;
  background: transparent;
  border: none;
  border-radius: 5px;
  border-image: url(/assets/images/game-returnback-button.png) 24 fill / 13px / 5px stretch;
  font-size: 1.5em;
  padding: 11px 1.3vw 11px 1.3vw;
  font-family: 'Gochi Hand', sans-serif;
  cursor: pointer;
}

.moves-history button:hover {
  opacity: .8;
}

.giveup-button{
  padding: 11px 2vw 43px 2.4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.giveup-button button{
  font-size: 1.5em;
  padding: 9px 2.4vw 9px 2.4vw;
  background: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border-image: url(/assets/images/game-giveup-button.png) 12 fill / 1px / 8px stretch;
  font-family: 'Gochi Hand', sans-serif;
}

.giveup-button button:hover{
  opacity: .9;
}

.header-game{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding: 39px 2.7vw 10px 0;
}

.page-name{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.page-name h1{
  font-size: 1.9em;
  text-transform: capitalize;
}

.timer h1{
  font-size: 1.1em;
  padding-right: 15px;
  width: 135px;
}

.game-property, .property-card-container{
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.property-card{
  background: lightgray;
  border-radius: 25px;
  padding: 5px 30px;
  height: fit-content;
}

.property-card h2{
  font-size: 1.5em;
  text-align: center;
}

.property-card p {
  cursor: pointer;
}

.property-card p::first-letter, .property-card h2::first-letter{
  text-transform: uppercase;
}

.move {
  padding: 8px 1px 0 5px;
  margin: 8px;
  border: 1px solid transparent;
  border-image: url(/assets/images/game-step-card.png) 13 fill / 11 / 20 stretch;
}

.move-container{
  width: 100%;
}

.move.backstep{
  background-color: lightgray;
}
