<div *ngIf="game.status == 'loading'">
  <h3>Chargement : {{step}}</h3>
  <div class="loader-container">
    <div class="loader" style="width: 0{{loaderWidth}}"></div>
  </div>
</div>


<div *ngIf="game.status == 'in-progress'">

  <h1>{{ game.userPath.at(game.userPath.length - 1)!.departure.subjectLabel }}</h1>

  <p *ngFor="let p of game.userPath.at(game.userPath.length - 1)!.departure.elements">
    {{ p.subject }} - {{ p.subjectLabel }} - {{ p.predicate }} - {{ p.object }}
  </p>

  <button (click)="giveup()">Abandonner</button>

</div>
