<div class="home-border">
  <div class="home-container">

    <h1 id="home-logo"></h1>

    <div class="home-input">
      <div class="home-input-border">
        <label for="username">Pseudo :</label>
        <input type="text" name="username" id="username" placeholder="MonPseudo"
               [ngModel]="user.username" (ngModelChange)="updateUsername($event)"/>
      </div>
      <button id="new-game" (click)="newGame()"></button>
    </div>

    <div class="slider-container">
      <p>Difficulté :</p>
      <input type="range" min="4" max="10" value="4" id="difficulty"
             [ngModel]="user.lastDifficulty" (ngModelChange)="updateDifficulty($event)"/>
      <p>{{ user.lastDifficulty }}</p>
    </div>


    <div class="games-history-border">

      <div class="game-no-history" *ngIf="user.games.length === 0">
        <p>Aucune partie jouée</p>
      </div>

      <div *ngIf="user.games.length" class="games-history-container">

        <div class="game-history-card-header">
          <p style="width: 11vw;">Date</p>
          <p style="width: 12vw;">Départ</p>
          <p style="width: 12vw;">Arrivée</p>
          <p style="width: 4vw;">Temps</p>
          <p style="width: 5vw;">Difficulté</p>
          <p style="width: 3vw;">Score</p>
          <p>Résultat</p>
        </div>

        <div class="game-history-panel">
          <div class="game-history-card" *ngFor="let game of user.games | orderByDate">
            <div class="game-history-card-body">
              <p style="width: 11vw;">{{ game.start | date:'dd/MM/yyyy HH:mm' }}</p>
              <p style="width: 12vw;">{{ game.userPath.at(0)?.departure?.subjectLabel }}</p>
              <p style="width: 12vw;">{{ game.bestPath.at(game.bestPath.length - 1)?.arrival?.subjectLabel }}</p>
              <p style="width: 4vw;">{{ game.duration | formatTime }}</p>
              <p style="width: 5vw;">{{ game.difficulty }}</p>
              <p style="width: 3vw;">{{ game.score | roundUp }}</p>
              <p>{{ game.result }}</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
