.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-border{
  padding: 23px 20px;
  margin: 22px 27px;
  border-image: url("/assets/images/home-border.png") 135 fill / 10px / 10px stretch;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #c4dff9;
  aspect-ratio: 16/9;
  height: fit-content;
}

#home-logo {
  background: url("/assets/images/logo.png") no-repeat center;
  background-size: contain;
  width: 100%;
  height: 5vw;
}

.home-input{
  display: inline-flex;
  background-color: transparent;
  align-items: center;
  gap: 1.2vw;
}

.home-input-border {
  background-color: transparent;
  border-image: url("/assets/images/input-username.png") 20 fill / 10px / 10px stretch;
}

.home-input label {
  font-size: 1.4vw;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Gochi Hand', sans-serif;
  white-space: nowrap;
  padding-left: 20px;
}

.home-input input {
  aspect-ratio: 18/3;
  width: 17vw;
  font-size: 1.4vw;
  font-weight: 600;
  letter-spacing: 2px;
  margin-right: 10px;
  padding: 2px 14px 2px 15px;
  font-family: 'Gochi Hand', sans-serif;
  background: transparent;
  border: none;
}

.home-input input:focus{
  outline: none;
}

.home-input button {
  background-color: transparent;
  border-radius: 5px;
  border-image: url("/assets/images/play-button.png") 12 fill / 1px / 8px stretch;
  cursor: pointer;
  width: 2.4vw;
  height: 2.4vw;
  margin-bottom: 0.6vw;
}

.home-input button:hover {
  opacity: .8;
  color: white;
}

.slider-container {
  display: inline-flex;
  font-size: 1.2em;
  align-items: center;
  gap: 15px;
}

.slider-container p {
  margin-right: 10px;
  font-size: 1.4vw;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Gochi Hand', sans-serif;
  white-space: nowrap;
}

.slider-container input[type=range] {
  appearance: none;
  width: 250px;
  margin: 10px 0;
  background: transparent;
  height: 15px;
  border-right: 3px solid #000000cf;
  border-left: 3px solid #000000cf;
  position: relative;
  cursor: pointer;
}

.slider-container input[type=range]::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 250px;
  background: #000000cf;
  top: 6px;
  left: 0;
}

.slider-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 3px;
  height: 20px;
  background: #000000cf;
  cursor: pointer;
}

h2 {
  margin-top: 30px;
}

.games-history-border {
  border-image: url("/assets/images/games-history-border.png") 29 fill / 35px / 6px stretch;
  border-radius: 5px;
  padding: 60px 50px;
  margin: 10px;
  position: relative;
  aspect-ratio: 26/9;
  width: 70vw;
}

.games-history-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-history-card {
  border-image: url(/assets/images/game-history-card.png) 36 fill / 12px / 13px stretch;
  width: 67vw;
  aspect-ratio: 38/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-history-panel {
  overflow-y: auto;
  height: 22.4vw;
  padding-right: .4vw;
}

.game-history-panel::-webkit-scrollbar {
  width: 5px;
}

.game-history-panel::-webkit-scrollbar-track {
  background: transparent;
}

.game-history-panel::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

.game-history-card-header{
  padding: 0 22px;
  margin-right: .4vw;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  font-family: 'Gochi Hand', sans-serif;
  font-size: 1.4vw;
  width: 64vw;
  justify-content: flex-start;
}

.game-history-card-header p{
  margin: 0;
}

.game-history-card-body{
  padding: 0 22px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  font-family: 'Gochi Hand', sans-serif;
  font-size: 1.2vw;
  height: 85%;
  justify-content: flex-start;
}
