<div class="home-container">

  <div class="home-border">

    <h1>WikiData Race</h1>

    <div class="home-input">
      <label for="username">Pseudo :</label>
      <input type="text" name="username" id="username" placeholder="MonPseudo"
             [ngModel]="user.username" (ngModelChange)="updateUsername($event)" />
      <button id="new-game" (click)="newGame()"><i class="fa-solid fa-play"></i></button>
    </div>



    <div class="slider-container">
      <p>Difficulté :</p>
      <input type="range" min="4" max="10" value="4" id="difficulty"
             [ngModel]="user.lastDifficulty" (ngModelChange)="updateDifficulty($event)"/>
       <p>{{ user.lastDifficulty }}</p>
    </div>



    <h2>Historique</h2>
    <div *ngIf="user.games.length === 0">
      <p>Aucune partie jouée</p>
    </div>

    <div *ngIf="user.games.length > 0">
      <table>
        <thead>
        <tr>
          <th>Début</th>
          <th>Fin</th>
          <th>Temps</th>
          <th>Difficulté</th>
          <th>Score</th>
          <th>Résultat</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let game of user.games.reverse()">
          <td>{{ game.start | date:'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ game.end | date:'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ formatTime(game.duration) }}</td>
          <td>{{ game.difficulty }}</td>
          <td>{{ game.score }}</td>
          <td>{{ game.result }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
